body {
  font-size: 2vw;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

.big-word {
  display: inline-block;
  font-size: 30px;
  white-space: pre;
  font-family: 'sabon', Times;
  position: absolute;
  transition: transform 0.6s ease, font-size 0.9s ease;
}

.big-word::selection {
  background-color: transparent;
}

.big-word:hover {
  transform: scale(2);
}

.myTextBoxxyHolder {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 9;
}

#myTextBoxxy {
  color: #fff;
  min-width: 40%;
  max-width: 60%;
  overflow: visible;
  font-family: 'sabon', Times;
  text-transform: capitalize;
  width: auto;
  font-size: 8vw;

  text-align: center;
  border-left: none;
  border-right: none;
  background-color: transparent;
  border-top: none;
  border-bottom: none;
  border-bottom: 0.6vw solid #fff;
  pointer-events: all;
}

input {
  text-transform: uppercase;
}

#myTextBoxxy:focus {
  outline: none;
}

.results {
  display: inline-block;
  font-size: 12pt;
  white-space: nowrap;
  float: left;
}